@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;

}

:root{
    --text: #eee8e8;
    --background: #212121;
    --primary: #cba5a5;
    --secondary: #753b3b;
    --accent: #b96060;
}

body{
    height: 100vh;
}

main{
    display: flex;
}

.left-photo{
    background-image: url(./assets/left-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    height: 100vh;
}

.logo-container{
    background-color: #753b3b9c;
    /* text-align: center; */
    height: 300px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text);
    gap: 30px;

}

#odin-photo{
    margin: 30px 0 30px 0;
    height: 240px;
    flex-grow: 0;
}


.form-main{
    width: 65vw;
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.top-text{
    margin-bottom: 2rem;
    max-width: 900px;
    padding-left: 60px;
    font-size: 1.3rem;
}
.spacer-text{
    margin: 4rem 0 2rem 0;
}

.form-body{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-bottom: 30px;
    /* border: 1px red solid; */
    /* max-width: 900px; */
    gap: 40px;
    
}
.form-title{
    font-size: 1.2rem;
    width: 100%;
}
.input{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 350px;
    max-width: 400px;
    margin-right: 60px;
} 
input{
    background-color: var(--background);
    border: 1px solid rgb(77, 77, 77);
    padding: 2px;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus:invalid{
    border: 2px solid red;
}
input:valid{
    border: 1px solid rgb(132, 255, 115);
}
input:focus {
    border: 2px solid var(--accent);
}

.invalid-box{
    border: 2px solid red;
}

#create-status{
    padding-left: 60px;
}

#create-account{
    margin-top: 30px;
    margin-left: 60px;
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--background);
    color: var(--text);
    border-radius: 5px;
    border: 3px solid var(--accent);
}

#create-account:hover{
    background-color:var(--accent);
    color: var(--background);
}

.redirect-login{
    padding-left: 60px;
    margin: 4rem 0 4rem 0;
    
}

.redirect-login a{
    text-decoration: none;
    font-weight: bold;
    color: var(--accent);
}


